body{
	background: linear-gradient(to top,#e8f0ff, #80a9ed);
}

.swiper-container {
	width: 100%;
	height: 300px;
}

.swiper-image {
	width: 100%;
	height: 300px;
}

.map-container {
	height: 75%;
}