extends ../templates/index.pug

block title
	title Буккроссинг в России. Главная страницы

block content
	div.swiper-container
		div.swiper-wrapper
			div.swiper-slide 
				img(src="../uploads/тест1.jpg", class="swiper-image")
			div.swiper-slide
				img(src="../uploads/тест2.jpg", class="swiper-image")
			div.swiper-slide
				img(src="../uploads/тест3.jpg", class="swiper-image")

		div.swiper-pagination