extends ../templates/index.pug

block title
	title Буккроссинг в России. Интекрактивная карта

block content
	div(class="col-sm-8 float-left map-container", id="map")
		//- script(type="text/javascript", charset="utf-8", async, src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ae4b906d8090e4df982711ef63a795e1c05b504fc16cb44db19d3656cf79eacdf&amp;lang=ru_RU&amp;scroll=true")